@fontePrincipal: Roboto, sans-serif;
@fonteDoTitulo: Lobster, cursive;
@corTexto: #fff;
@bgFundo: #eb3b5a;

body {
    background-color: @bgFundo;
    font-family: @fontePrincipal;
    color: @corTexto;
}

h1 {
    font-family: @fonteDoTitulo;
    font-size: 3em;
}